*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Dancing Script', cursive;
    font-size: 15px;
    background-color: white;
    }

    /* Welcome page top */
.front{
    background-image: url(/wedding/DSC_9009.jpg);
    height: 570px;
    width: 500px;
    margin-left: 1px;
    position: relative;
    transition: all;
    transition: 3s;
}
.abou h3{
    font-size: 25px;
}
/* .front:hover{
    background-image: url(DSC_850011.jpg);
    width: 500px;
} */
.front.img:hover{
    margin-left: 20px;
    width: 10px;
    height: 500px;
}
 
/* welcome page pictures */
.front img{
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 20px;
    width: 10px;
    height: 600px;
}

/* Links, and the hover on first page */
nav{
    flex: 1;
    text-align: right;
}
.front nav ul{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
.front nav ul li{
    margin-top: 20px;
    display: inline-block;
    margin-right: 20px;
}


nav ul li a{
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    text-decoration: none;
    transition: all;
    transition: 3s;
}
nav ul li a:hover{
    background-color: gold;
}

/* Pictures on welcome page */
.picture img{
padding-left: 1px;
width: 500px;
}


/* About page  */
.about h3{
    font-size: 12px;
    color: rgb(155, 111, 111);
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 33, 33);
    padding-bottom: 20px;
    padding-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
    text-align: center;
    word-spacing: 10px;
}

/* Words on the about page */
.abou h4{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

/* Portfolio page */
.one{
    background-color: rgb(26, 20, 20);
    color: rgb(129, 118, 118);
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    
}

/* Words on the portfolio page */
.port h5{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: justify;
}

h5.eve{
    color: white;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Review page  */
.rev{
    background-color: black;
    color: rgb(240, 232, 188);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* table */
tr td a{
    text-decoration: none;
    transition: all;
    transition: 3s;
}
tr td a:hover{
    background-color: gold;
}